*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; /* que las imagenes se acoplen al ancho de pantalla*/
}
#container-slider{
    position: relative;
    display: block;
    width: 100%;
}
#slider{
    position: relative;
    display: block;
    width: 100%;
    height: 100vh;
    min-height: 500px;
}
#slider li{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100%;
    height: 100%;
    display: block;
    -webkit-transition: opacity 1s;
    -ms-transition: opacity 1s;
    -o-webkit-transition: opacity 1s;
    transition: opacity 1s;
    z-index: -1;
    opacity: 0;
}
#container-slider .arrowPrev, #container-slider .arrowNext{
    font-size: 30pt;
    color: rgba(204, 204, 204, 0.65);
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 50px;
    z-index: 2;
}
#container-slider .arrowNext{
    left: initial;
    right: 50px !important;
}
#container-slider .arrowNext:hover{
    color: #111;
    transition: 1 all;
}
#container-slider .arrowPrev:hover{
    color: #111;
    transition: 1 all;
}

.content_slider{
    padding: 15px 30px;
    color: #fff;
    width: 100%;
    height: 100%;
}
.content_slider div{
    text-align: center;
}

.content_slider h2{
    font-family: 'arial';
    font-size: 30pt;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-bottom: 20px;
}
.content_slider p {
    font-size: 15pt;
    font-family: 'arial';
    color: #fff;
    margin-bottom: 20px;
}
#slider li .content_slider{
    background: rgba(0, 0, 0, 0.50);
    padding: 10px 125px;
}
.content_slider {
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnSlider{
    color: #fff;
    font-size: 15pt;
    font: 'arial';
    letter-spacing: 1px;
    padding: 10px 50px;
    border: 1px solid #ccc;
    background: rgba(13, 13, 13, 0.50);
    border-radius: 31px;
    text-decoration: none;
    transition: 0.5s all;
}
.btnSlider:hover{
    background-color: #111;
    border: 1px solid #111;
}

.listslider{
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 20%;
    list-style: none;
    z-index: 2;
    transform: translate(-50%);
}
.listslider li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a{
    background: #ccc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid{
    background: #fff !important;
}

@media screen and (max-width: 600px){
    .content_slider h2{
        font-size: 20px !important;
    }
    .content_slider p{
        font-size: 10pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px;
    }
    #slider {
        height: 400px;
        min-height: 400px;
    }
    #slider li .content_slider{
        padding: 10px 30px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }
}

*, ::before, ::after{
    padding: 0;
    margin: 0;
    background-size: bordex-box;
}
.icon{
    width: 2em;
    height: 2em;
    position: absolute;
    right: 1em;
    top:1em;
    cursor: pointer;
    display: none;
    z-index: 1000;
}
.icon i{
    display: block;/*alineación en bloque vertical de iconos*/
    background: #fff;
    height: .3em;/*altura de líneas de icono*/
    width: 100%;
    border-radius: .15em;/*bordes redondeados*/
    transition: all 0.5s;
    margin-top: 5px;
}
nav{
    background-color: #333;
}
nav ul {
    font-family: Tahoma;
    list-style: none;
    padding: 0;
}
nav a{
    text-decoration: none;
    color: #fff;
    padding: 0 2.5em;
    display: block;
    transition: all .4s;
}

nav li ul{
    position: absolute;
}
nav a:hover{
    background-color: rgba(0,0,0,.5);
    /*cuando el curso esta encima del boton cambia de color*/
}
nav li{
    line-height: 3.8rem;/*alineación con respecto a la altura*/
    position: relative;
}
.menu{
    display: flex;/*disposición en fila de módulos*/
    justify-content: center;/*alineación al centro de los textos de cada módulo*/
    width: 50%;
}
.primer{
    display: flex;
    justify-content: space-between;
}
.primer img{/*regla para configura el tamaño y la posición del logo en el menú*/
    width: 60px;
    height: 60px;
    display: flex;
    align-self: flex-start;/*alineación al inicio del menú*/
}
.segundo{
    flex-direction: column;/*alineación en columna*/
    top:100%;/*posición del ul*/
}
.segundo li{
    background-color: #222;
    transition: all .5s;
    max-height: 0;
    overflow: hidden;/*deben estar ocultos mientras no se accione el módulo*/
    width: 200px;
}
nav li:hover > ul>li{

    max-height: 500px;
    overflow: visible;/*muestra el ul del segundo nivel*/
}
.tercero{
    left: 100%;
    top:0;
}

@media screen and (max-width: 1252px){
    .menu{
        width: 80%;
    }
}
@media screen and (max-width: 800px){
    .menu{
        width: 100%;
        flex-direction: column;
    }
    .icon{
        display: block;
    }
    nav li{
        line-height: 3rem;
    }
    nav ul{
        flex-direction: column;
        max-height: 3.5em;
        overflow: hidden;
        transition: all .5s;
        background-color:#333;
    }
    .segundo{
        position: relative;
        overflow: hidden;
        display: none;
        max-height: 0;
        transition: all 2s;
    }
    .segundo a{
        padding-left: 5em;
    }
    .segundo li{
        background-color: #222;
        width: 100%;
    }
    .ver-2{
        display: block;
    }
    .mostrar{
        max-height: 800px;
        overflow: visible;
    }
    .tercero{
        position: relative;
        left: 0;
        display: none;

    }
    .ver-3{
        display: block;
    }
    .tercero a{
        padding-left: 8em;
    }
}

.listslider{
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
    align-items: center;
    left: 50%;
    bottom: 20%;
    list-style: none;
    z-index: 2;
    transform: translate(-50%);
}
.listslider li{
    border-radius: 50%;
    width: 10px;
    height: 10px;
    cursor: pointer;
    margin: 0 5px;
}
.listslider li a{
    background: #ccc;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    display: block;
}
.item-select-slid{
    background: #fff !important;
}

@media screen and (max-width: 600px){
    .content_slider h2{
        font-size: 20px !important;
    }
    .content_slider p{
        font-size: 10pt !important;
    }
    #container-slider .arrowPrev, #container-slider .arrowNext{
        font-size: 20pt;
    }
    #container-slider .arrowPrev{
        left: 15px;
    }
    #container-slider .arrowNext{
        right: 15px;
    }
    #slider {
        height: 400px;
        min-height: 400px;
    }
    #slider li .content_slider{
        padding: 10px 30px;
    }
    .btnSlider{
        padding: 10px 30px;
        font-size: 10pt;
    }
}

#bttButton{
    height: 60px;
    width: 30px;
    color: #fff;
    padding: 25px 30px;
    background: rgba(13, 13, 13, 0.30);
    opacity: 1;
    border-radius: 30px;
    transition: 0.5s all;
    list-style: none;
    display: flex;
    border: none;

}

#bttButton:hover{
    cursor: pointer;
    background-color: #15702C;
    position: absolute;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: space-between;
}